<!DOCTYPE html>
<html>
  <head>
    <title>Presidents</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= link_to "Home", root_path %>
    <%= link_to "Obama", leaders_path(id:"Obama")%>
    <%= link_to "Clinton", leaders_path(id:"Clinton")%>
    <%= link_to "JFK", leaders_path(id:"JFK")%>
    <%= link_to "Lincoln", leaders_path(id:"Lincoln")%>
    <%= link_to "Churchill", leaders_path(id:"Churchill")%>
    <%= link_to "About", about_path %>
    <%= link_to "FAQ", faq_path %>
    <%= yield %>

  </body>
</html>
